<% if @range == 'User' %>
  <h2>Users search for "<%= @keyword %>"</h2>
  <%= render "users/index", users: @users %>
<% else %>
  <h2>Books search for "<%= @keyword %>"</h2>
  <%= render "books/index", books: @books %>
<% end %>